{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Sid": "VisualEditor0",
			"Effect": "Allow",
			"Action": "ec2:CreateTags",
			"Resource": [
				"arn:aws:ec2:*:*:volume/*",
				"arn:aws:ec2:*:*:snapshot/*"
			],
			"Condition": {
				"StringEquals": {
					"ec2:CreateAction": [
						"CreateVolume",
						"CreateSnapshot"
					]
				}
			}
		},
		{
			"Sid": "VisualEditor1",
			"Effect": "Allow",
			"Action": "ec2:CreateVolume",
			"Resource": "arn:aws:ec2:*:${account_id}:volume/*",
			"Condition": {
				"StringLike": {
					"aws:RequestTag/ebs.csi.aws.com/cluster": "true"
				}
			}
		},
		{
			"Sid": "VisualEditor2",
			"Effect": "Allow",
			"Action": "ec2:CreateVolume",
			"Resource": "arn:aws:ec2:*:${account_id}:volume/*",
			"Condition": {
				"StringLike": {
					"aws:RequestTag/CSIVolumeName": "*"
				}
			}
		},
		{
			"Sid": "VisualEditor3",
			"Effect": "Allow",
			"Action": "ec2:DeleteVolume",
			"Resource": "arn:aws:ec2:*:${account_id}:volume/*",
			"Condition": {
				"StringLike": {
					"ec2:ResourceTag/ebs.csi.aws.com/cluster": "true"
				}
			}
		},
		{
			"Sid": "VisualEditor4",
			"Effect": "Allow",
			"Action": "ec2:DeleteVolume",
			"Resource": "arn:aws:ec2:*:${account_id}:volume/*",
			"Condition": {
				"StringLike": {
					"ec2:ResourceTag/CSIVolumeName": "*"
				}
			}
		},
		{
			"Sid": "VisualEditor5",
			"Effect": "Allow",
			"Action": "ec2:DeleteVolume",
			"Resource": "arn:aws:ec2:*:${account_id}:volume/*",
			"Condition": {
				"StringLike": {
					"ec2:ResourceTag/kubernetes.io/created-for/pvc/name": "*"
				}
			}
		},
		{
			"Sid": "VisualEditor6",
			"Effect": "Allow",
			"Action": "ec2:DeleteSnapshot",
			"Resource": "arn:aws:ec2:*::snapshot/*",
			"Condition": {
				"StringLike": {
					"ec2:ResourceTag/CSIVolumeSnapshotName": "*"
				}
			}
		},
		{
			"Sid": "VisualEditor7",
			"Effect": "Allow",
			"Action": "ec2:DeleteSnapshot",
			"Resource": "arn:aws:ec2:*::snapshot/*",
			"Condition": {
				"StringLike": {
					"ec2:ResourceTag/ebs.csi.aws.com/cluster": "true"
				}
			}
		},
		{
			"Sid": "VisualEditor8",
			"Effect": "Allow",
			"Action": [
				"ec2:DetachVolume",
				"ec2:AttachVolume",
				"ec2:ModifyVolume",
				"ec2:CreateSnapshot"
			],
			"Resource": [
				"arn:aws:ec2:*:${account_id}:instance/*",
				"arn:aws:ec2:*:${account_id}:volume/*",
				"arn:aws:ec2:*::snapshot/*"
			]
		},
		{
			"Sid": "VisualEditor9",
			"Effect": "Allow",
			"Action": [
				"ec2:DescribeInstances",
				"ec2:DescribeAvailabilityZones",
				"ec2:DescribeTags",
				"ec2:DescribeVolumes",
				"ec2:DescribeVolumesModifications",
				"ec2:DescribeSnapshots"
			],
			"Resource": "*"
		},
		{
			"Sid": "VisualEditor10",
			"Effect": "Allow",
			"Action": "ec2:DeleteTags",
			"Resource": [
				"arn:aws:ec2:*:*:volume/*",
				"arn:aws:ec2:*:*:snapshot/*"
			]
		}
	]
}