{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowScopedEC2InstanceAccessActions",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:${region}::image/*",
        "arn:${partition}:ec2:${region}::snapshot/*",
        "arn:${partition}:ec2:${region}:*:security-group/*",
        "arn:${partition}:ec2:${region}:*:subnet/*",
        "arn:${partition}:ec2:${region}:*:capacity-reservation/*",
        "arn:${partition}:ec2:${region}:*:placement-group/*"
      ],
      "Action": ["ec2:RunInstances", "ec2:CreateFleet"]
    },
    {
      "Sid": "AllowScopedEC2LaunchTemplateAccessActions",
      "Effect": "Allow",
      "Resource": "arn:${partition}:ec2:${region}:*:launch-template/*",
      "Action": ["ec2:RunInstances", "ec2:CreateFleet"],
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/kubernetes.io/cluster/${project_name}": "owned"
        },
        "StringLike": {
          "aws:ResourceTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowScopedEC2InstanceActionsWithTags",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:${region}:*:fleet/*",
        "arn:${partition}:ec2:${region}:*:instance/*",
        "arn:${partition}:ec2:${region}:*:volume/*",
        "arn:${partition}:ec2:${region}:*:network-interface/*",
        "arn:${partition}:ec2:${region}:*:launch-template/*",
        "arn:${partition}:ec2:${region}:*:spot-instances-request/*"
      ],
      "Action": ["ec2:RunInstances", "ec2:CreateFleet", "ec2:CreateLaunchTemplate"],
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/kubernetes.io/cluster/${project_name}": "owned",
          "aws:RequestTag/eks:eks-cluster-name": "${project_name}"
        },
        "StringLike": {
          "aws:RequestTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowScopedResourceCreationTagging",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:${region}:*:fleet/*",
        "arn:${partition}:ec2:${region}:*:instance/*",
        "arn:${partition}:ec2:${region}:*:volume/*",
        "arn:${partition}:ec2:${region}:*:network-interface/*",
        "arn:${partition}:ec2:${region}:*:launch-template/*",
        "arn:${partition}:ec2:${region}:*:spot-instances-request/*"
      ],
      "Action": "ec2:CreateTags",
      "Condition": {
        "StringEquals": {
          "aws:RequestTag/kubernetes.io/cluster/${project_name}": "owned",
          "aws:RequestTag/eks:eks-cluster-name": "${project_name}",
          "ec2:CreateAction": ["RunInstances", "CreateFleet", "CreateLaunchTemplate"]
        },
        "StringLike": {
          "aws:RequestTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowScopedResourceTagging",
      "Effect": "Allow",
      "Resource": "arn:${partition}:ec2:${region}:*:instance/*",
      "Action": "ec2:CreateTags",
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/kubernetes.io/cluster/${project_name}": "owned"
        },
        "StringLike": {
          "aws:ResourceTag/karpenter.sh/nodepool": "*"
        },
        "StringEqualsIfExists": {
          "aws:RequestTag/eks:eks-cluster-name": "${project_name}"
        },
        "ForAllValues:StringEquals": {
          "aws:TagKeys": ["eks:eks-cluster-name", "karpenter.sh/nodeclaim", "Name"]
        }
      }
    },
    {
      "Sid": "AllowScopedDeletion",
      "Effect": "Allow",
      "Resource": [
        "arn:${partition}:ec2:${region}:*:instance/*",
        "arn:${partition}:ec2:${region}:*:launch-template/*"
      ],
      "Action": ["ec2:TerminateInstances", "ec2:DeleteLaunchTemplate"],
      "Condition": {
        "StringEquals": {
          "aws:ResourceTag/kubernetes.io/cluster/${project_name}": "owned"
        },
        "StringLike": {
          "aws:ResourceTag/karpenter.sh/nodepool": "*"
        }
      }
    },
    {
      "Sid": "AllowRegionalReadActions",
      "Effect": "Allow",
      "Resource": "*",
      "Action": [
        "ec2:DescribeCapacityReservations",
        "ec2:DescribeImages",
        "ec2:DescribeInstances",
        "ec2:DescribeInstanceStatus",
        "ec2:DescribeInstanceTypeOfferings",
        "ec2:DescribeInstanceTypes",
        "ec2:DescribeLaunchTemplates",
        "ec2:DescribePlacementGroups",
        "ec2:DescribeSecurityGroups",
        "ec2:DescribeSpotPriceHistory",
        "ec2:DescribeSubnets"
      ],
      "Condition": {
        "StringEquals": {
          "aws:RequestedRegion": "${region}"
        }
      }
    },
    {
      "Sid": "AllowPricingReadActions",
      "Effect": "Allow",
      "Resource": "*",
      "Action": "pricing:GetProducts"
    },
    {
      "Sid": "AllowPassingInstanceRole",
      "Effect": "Allow",
      "Resource": "${node_role_arn}",
      "Action": "iam:PassRole",
      "Condition": {
        "StringEquals": {
          "iam:PassedToService": "ec2.amazonaws.com"
        }
      }
    },
    {
      "Sid": "AllowUnscopedInstanceProfileListAction",
      "Effect": "Allow",
      "Resource": "*",
      "Action": "iam:ListInstanceProfiles"
    },
    {
      "Sid": "AllowInstanceProfileReadActions",
      "Effect": "Allow",
      "Resource": "arn:${partition}:iam::${account_id}:instance-profile/*",
      "Action": "iam:GetInstanceProfile"
    },
    {
      "Sid": "AllowInterruptionQueueActions",
      "Effect": "Allow",
      "Resource": "${queue_arn}",
      "Action": ["sqs:DeleteMessage", "sqs:GetQueueUrl", "sqs:ReceiveMessage"]
    }
  ]
}
