{
	"Version": "2012-10-17",
	"Statement": [
		{
			"Sid": "VisualEditor0",
			"Effect": "Allow",
			"Action": [
                "dynamodb:BatchGetItem",
                "dynamodb:BatchWriteItem",
                "dynamodb:DeleteItem",
                "dynamodb:DescribeTable",
                "dynamodb:GetItem",
                "dynamodb:ListTagsOfResource",
                "dynamodb:PutItem",
                "dynamodb:Query",
                "dynamodb:TagResource",
                "dynamodb:UntagResource",
                "dynamodb:UpdateItem",
                "dynamodb:UpdateTable",
                "dynamodb:CreateTable",
                "dynamodb:DeleteTable"
            ],
			"Resource": "arn:aws:dynamodb:*:*:table/*"
		}
	]
}